<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CareerTrackr</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><a href="/">CareerTrackr</a></h1>
    <nav>
      <a href="/jobs">Jobs</a>
      <a href="/jobs/new">Add Job</a>
    </nav>
  </header>

  <!-- Main content will go inside views that include this layout -->

  <footer style="margin-top: 3rem;">
    <p>&copy; 2025 CareerTrackr styled by Kinjal Patel</p>
  </footer>
</body>
</html>
